.aos-element {
  opacity: 0;
  transform: translate(0, 0);
  transition: opacity 3s ease-in-out, transform 1s ease-in-out; /* Adjust timing as needed */
}

[data-aos="fade-left"] {
  transform: translateX(-1000px);
}

[data-aos="fade-right"] {
  transform: translateX(1000px);
}

[data-aos="fade-up"] {
  transform: translateY(500px);
}

[data-aos="fade-down"] {
  transform: translateY(-500px);
}

.btn-shine {
  position: absolute;
  margin-top: 30px;
  left: 45%;
  transform: translate(-20%, -20%);
  /* padding: 12px 48px; */
  color: #fff;
  background: linear-gradient(to right, #9f9f9f 0, #ff8906 10%, #868686 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}




